{
  "sourceMaps": "both",
  "plugins": [
    "babel-plugin-hash-resolve"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "entry"
      }
    ]
  ]
}